# Compiled Object files
*.slo
*.lo
*.o
*.obj
*.qm

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

build/*
release/*
src/qt/locale/*
makefile.release
makefile.debug
makefile
object_script.RATECoin-qt.Debug
object_script.RATECoin-qt.Release
RATECoin-qt.pro.user
RATECoin-qt.pro.user
*.user
RATECoin-qt.pro.user.4.9-pre1
RATECoin-qt.pro.user.977aeb3
RATECoin-qt.pro.user
RATECoin.conf
